/*Primary Header*/

h1 {
	font-family: 'Monoton', cursive;
	color: #413d16;
}

/*Body copy*/
p {
	font-family: 'Lobster Two', cursive;
	color: #ccc;

}

/*Baseline Links*/
a:link, a:visited {
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: dashed orange 2px;
}

a:hover {
	background: red;

}


/* font-family: 'Monoton', cursive; */


/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.color-4,
.color-5,
.color-6,
.color-7,
.color-8,
.color-9,
.color-10,
.color-11,
.color-12,
.color-13,
.color-14,
.color-15,
.color-16,
.color-17,
.color-18,
.color-19,
.color-20,
.color-21,
.color-22,
.color-23,
.color-24,
.color-25,
.color-26,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 10px;
	height: 50px;
	width: 50px;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

.color-1{background: #000000;}
.color-2{background: #015E6F;}
.color-3{background: #0F9E92;}
.color-4{background: #24696B;}
.color-5{background: #512D8A;}
.color-6{background: #530B66;}
.color-7{background: #56B8B7;}
.color-8{background: #601147;}
.color-9{background: #65326D;}
.color-10{background: #69C5BA;}
.color-11{background: #6D536C;}
.color-12{background: #8D6798;}
.color-13{background: #982D79;}
.color-14{background: #A0648F;}
.color-15{background: #A659BE;}
.color-16{background: #A6D8CF;}
.color-17{background: #a70574;}
.color-18{background: #B05984;}
.color-19{background: #C23C73;}
.color-20{background: #C982A2;}
.color-21{background: #D8DCDB;}
.color-22{background: #D9C7DD;}
.color-23{background: #DBDFEB;}
.color-24{background: #EBDFEB;}
.color-25{background: #f0ecf5;}
.color-26{background: #F5DEE6;}

.pattern-1 {
	background: url("../img/arabesque.png");
}


