/*Primary Header*/

h1 {
	font-family: 'Monoton', cursive;
	color: #413d16;
}

/*Body copy*/
p {
	font-family: 'Lobster Two', cursive;
	color: #ccc;

}

/*Baseline Links*/
a:link, a:visited {
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: dashed orange 2px;
}

a:hover {
	background: red;

}


/* font-family: 'Monoton', cursive; */


/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

img {
	max-width: 225px;
	max-height: 250px;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.color-4,
.color-5,
.color-6,
.color-7,
.color-8,
.color-9,
.color-10 {
	border: 1px solid #000;
	float: left;
	margin: 10px;
	height: 50px;
	width: 50px;
}


.pattern-1,
.pattern-2,
.pattern-3,
.pattern-4,
.pattern-5,
.pattern-6,
.pattern-7,
.pattern-8,
.pattern-9,
.pattern-10,
.pattern-11,
.pattern-12,
.pattern-13,
.pattern-14
{
	border: 1px solid #000;
	float: left;
	margin: 10px;
	height: 110px;
	width: 110px;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

.color-1{background: #015E6F;}
.color-2{background: #459F8F;}
.color-3{background: #0F9E92;}
.color-4{background: #530B66;}
.color-5{background: #65326D;}
.color-6{background: #8D6798;}
.color-7{background: #601147;}
.color-8{background: #AB0375;}

.pattern-1 {
	background: url("../img/dark-wood.png");
	background-size: 100%
}
.pattern-2 {
	background: url("../img/SPpink.png");
	background-size: 100%
}
.pattern-3 {
	background: url("../img/dw2.png");
	background-size: 100%
}
.pattern-4 {
	background: url("../img/WClink2.png");
	background-size: 100%
}
.pattern-5 {
	background: url("../img/SPblue2.png");
	background-size: 100%
}
.pattern-6 {
	background: url("../img/SPdarkpurple.png");
	background-size: 100%
}
.pattern-7 {
	background: url("../img/SPseafoam.png");
	background-size: 100%
}
.pattern-8 {
	background: url("../img/SPpurple.png");
	background-size: 100%
	
}

.pattern-9 {
	background: url("../img/diagmonds.png");
	background-size: 100%
	
}
.pattern-10 {
	background: url("../img/mirrored-squares.png");
	background-size: 100%
	
}
.pattern-11 {
	background: url("../img/mooning.png");
	background-size: 100%
	
}
.pattern-12 {
	background: url("../img/shattered-dark.png");
	background-size: 100%
	
}
.pattern-13 {
	background: url("../img/shley-tree-2.png");
	background-size: 100%
	
}
.pattern-14 {
	background: url("../img/soft-kill.png");
	background-size: 100%
	
}








